################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nomography/CopilotIndices/18.0.909.6171
/.vs
